In [147]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [148]:
malaria = pd.read_csv('malaria_prediction.csv')

In [149]:
malaria.shape

(1000, 18)

In [150]:
malaria.head()

,age,sex,fever,cold,rigor,fatigue,headace,bitter_tongue,vomitting,diarrhea,Convulsion,Anemia,jundice,cocacola_urine,hypoglycemia,prostraction,hyperpyrexia,severe_maleria
0,0,Male,yes,no,no,no,no,yes,no,no,no,no,yes,no,yes,yes,no,no
1,1,Male,no,no,yes,yes,yes,no,no,no,no,no,yes,no,no,no,no,no
2,0,Female,yes,no,no,yes,no,yes,no,yes,yes,no,no,yes,yes,no,no,no
3,1,Female,yes,yes,yes,no,yes,no,no,no,no,yes,yes,yes,yes,no,yes,no
4,1,Female,yes,yes,yes,no,yes,no,no,yes,yes,yes,yes,yes,no,no,no,no

In [151]:
values = {"fever":{"no":0, "yes":1},"cold":{"no":0, "yes":1},"rigor":{"no":0, "yes":1},"fatigue":{"no":0, "yes":1},
          "headace":{"no":0, "yes":1},"bitter_tongue":{"no":0, "yes":1},"vomitting":{"no":0, "yes":1},
          "diarrhea":{"no":0, "yes":1},"Convulsion":{"no":0, "yes":1},"Anemia":{"no":0, "yes":1},"jundice":{"no":0, "yes":1},
          "cocacola_urine":{"no":0, "yes":1},"hypoglycemia":{"no":0, "yes":1},"prostraction":{"no":0, "yes":1},
          "hyperpyrexia":{"no":0, "yes":1},"hyperpyrexia":{"no":0, "yes":1},"severe_maleria":{"no":0, "yes":1}}

malaria.replace(values,inplace=True)

In [152]:
y = malaria['severe_maleria']

In [153]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: severe_maleria, dtype: int64

In [154]:
new_malaria = malaria.drop('severe_maleria', axis=1)

In [155]:
new_malaria.head()

,age,sex,fever,cold,rigor,fatigue,headace,bitter_tongue,vomitting,diarrhea,Convulsion,Anemia,jundice,cocacola_urine,hypoglycemia,prostraction,hyperpyrexia
0,0,Male,1,0,0,0,0,1,0,0,0,0,1,0,1,1,0
1,1,Male,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0
2,0,Female,1,0,0,1,0,1,0,1,1,0,0,1,1,0,0
3,1,Female,1,1,1,0,1,0,0,0,0,1,1,1,1,0,1
4,1,Female,1,1,1,0,1,0,0,1,1,1,1,1,0,0,0

In [157]:
new_malaria = pd.get_dummies(new_malaria)

In [158]:
new_malaria = new_malaria.drop('age', axis=1)

In [ ]:
print(malaria.groupby('Outcome').size())

In [119]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=2)
kmNeuro = KMeans(n_clusters=2)

data['Clus'] = km.fit_predict(new_data)

In [127]:
new_data.head()

,fever,cold,rigor,fatigue,headace,bitter_tongue,vomitting,diarrhea,Convulsion,Anemia,jundice,cocacola_urine,hypoglycemia,prostraction,hyperpyrexia,sex_Female,sex_Male,Clus
0,1,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,1,1
1,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1
2,1,0,0,1,0,1,0,1,1,0,0,1,1,0,0,1,0,0
3,1,1,1,0,1,0,0,0,0,1,1,1,1,0,1,1,0,0
4,1,1,1,0,1,0,0,1,1,1,1,1,0,0,0,1,0,0

In [122]:
pd.crosstab(y, km.labels_)

col_0             0    1
severe_maleria
0               300  377
1               154  169

In [20]:
from sklearn.feature_selection import SelectKBest

In [21]:
from sklearn.feature_selection import chi2

In [22]:
test = SelectKBest(score_func=chi2, k=4)

In [124]:
fit = test.fit(new_data,y)

In [126]:
fit.scores_

array([0.24726407, 0.27540308, 0.04084797, 0.06590388, 0.01216211,
       0.17964867, 0.9676877 , 0.08720963, 0.39768833, 0.14428409,
       1.61049348, 0.04400702, 0.19641902, 0.57096139, 0.00441314,
       0.45345661, 0.54534649, 0.54534649])